:host {
    display: flex;
    flex: 1 1 45%;
}

.daily-forecast {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    user-select: none;
    &__name {
        display: flex;
        align-items: center;
        min-height: 125px;
        font-size: 1.8rem;
        @media (max-width: 560px) {
            min-height: 100px;
        }
        @media (max-width: 400px) {
            min-height: 80px;
        }
    }
    &__date {
        font-size: 1.15rem;
        text-transform: capitalize;
    }
    &__info {
        flex: 1 1;
        min-height: 350px;
        @media (max-width: 768px) {
            min-height: 200px;
        }
    }
    &__btn {
        position: absolute;
        bottom: 15px;
        left: 15px;
        width: 80px;
        height: 80px;
        background: transparent;
        border: 1px gray solid;
        border-radius: 5px;
        &:active {
            border-color: white;
        }
        &:hover {
            background-color: green;
        }
        &:hover::before {
            height: 100px;
            transition: 0.3s ease-in-out;
        }
        @media (max-width: 400px) {
            width: 60px;
            height: 60px;
        }
    }
    &__btn-img {
        width: 100%;
    }
}