:host {
  flex: 1 1 20%;
}

.swiper-wrapper {
  height: 600px;
}

.forecast-slide {
  box-sizing: border-box;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  // width: 100%;
  // height: 50px;
}

.swiper-button-next {
  left: 44%;
  transform: rotate(90deg);
  top: 575px;
  color: green;
}

.swiper-button-prev {
  left: 44%;
  transform: rotate(90deg);
  top: 20px;
  color: green;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 70px;
}