<div class="info__temp">
    {{ currentTemp }}
</div>
<img    
    class="info__icon"  
    src="{{ iconPath }}"
    alt="icon weather today"
>
<div class="info__params">
    <p class="info__text">
        {{ summary }}
    </p>
    <p class="info__text">
        {{ 'apparentTemperature' | transloco }}{{ feelsLike }}
    </p>
    <p class="info__text">
        {{ 'wind' | transloco }}{{ wind }}{{ 'speed' | transloco }}
	</p>
	<p class="info__text">
        {{ 'humidity' | transloco }}{{ humidity | percent}}
    </p>
</div>
