<div class="short-forecast">
    <div class="short-forecast__date">
        <p class="short-forecast__day">
            {{forecast.dayAsString}}
        </p>
        <p>
            {{forecast.date | date:"dd.MM.yyyy"}}
        </p>
        </div>
    <div class="short-forecast__temp">
        <p>
            {{forecast.tempAsString}}
        </p>
    </div>
    <div class="short-forecast__icon">  
        <img src={{forecast.iconPath}} alt="icon weather">
    </div>
    <button
        class="btn short-forecast__btn"
        (click)="onClick()">
        <img class="short-forecast__btn-img" src="assets/img/btn-hourly.png" alt="">
    </button>
</div>

