<div class="app__wrapper">
  <ng-container
   *ngTemplateOutlet="(appService.bgImage$ | async) ? mainPage : preloadingPage">
  </ng-container>
</div>

<ng-template #mainPage>
  <div
    class="app__main"
    [style.backgroundImage]="'url('+(appService.bgImage$ | async).urlBgImg+')'"
  >
  <app-controls></app-controls>
  <app-daily-forecast></app-daily-forecast>
  <app-week-forecast></app-week-forecast>
  <app-map></app-map>
  </div>
</ng-template>

<ng-template #preloadingPage>
  <div class="app__preloader"></div>
</ng-template>