<div class="app__wrapper">
    <ng-container
       *ngTemplateOutlet="(appService.appInit$ | async) ? mainPage : preloadingPage">
    </ng-container>
</div>

<ng-template #mainPage>
    <div
        class="app__main"
        [style.backgroundImage]="'url('+(appService.bgImage$ | async)+')'"
    >
        <app-controls></app-controls>
        <app-daily-forecast></app-daily-forecast>
        <app-week-forecast></app-week-forecast>
        <app-map></app-map>
    </div>
        <app-error-message
            [errorMessageText]="errorMsg.errorMessageText"
        >
        </app-error-message> 
</ng-template>

<ng-template #preloadingPage>
    <div class="app__preloader"></div>
</ng-template>