<div class="wrapper map">
    <mgl-map
        [style]="'mapbox://styles/mapbox/outdoors-v11'"
        [zoom]="[10]"
        [center]="[(mapServices.currentCoords$ | async).longitude, (mapServices.currentCoords$ | async).latitude]"
        [pitch]="0"
        (click)="mapServices.getInfoAboutLocation($event)"
    >
        <mgl-marker
            [lngLat]="[(mapServices.currentCoords$ | async).longitude, (mapServices.currentCoords$ | async).latitude]"
        >   
        </mgl-marker>
    </mgl-map>
</div>
