:host {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
    cursor: grab;
}

.short-forecast {
    &__date {
        flex: 1 1 100%;
        text-align: center;
        text-transform: capitalize;
    }
    &__temp {
        display: flex;
        flex: 1 1 60%;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
    }
    &__icon {
        flex: 1 1 40%;
    }
    &__day {
        padding: 15px 0 5px 0;
    }
}